<!-- <nav class="navbar navbar-dark bg-dark">
     Navbar content -->
<!-- </nav> -->
<div class="row navbar navbar-dark bg-dark">
    <div class="col-md-4">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">کندوی استخدام |</a>
            </li>
            <img class="nav-item" src="/assets/Images/icon2.svg">
            <img class="nav-item" src="/assets/Images/icon1.svg">
        </ul>
    </div>
    <div class="col-md-4 center">
        <img class="nav-item" src="/assets/Images/logo.svg">
    </div>
    <div class="left col-md-4 left">
        <a class="nav-link" href="#">الهام توفیقی</a>
    </div>
</div>
